@media (max-width: 768px) {
    #taskAdditionContainer {
        flex-direction: column; /* Switch to column layout for small screens */
        align-items: flex-start;
    }

    #taskInput, #categoryInput {
        width: 90%; /* Full width for smaller screens */
        margin: 5px 0;
    }

    #addTaskBtn {
        align-self: flex-end; /* Align the button to the right */
        margin: 0 10px 10px 0; /* Adjust button margin for spacing */
    }
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ddd;
}

#taskAdditionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

#taskInput {
    width: 27%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border-color: #aaa;
    color: #000;
    text-align: center;
}

#addTaskBtn {
    width: 3%;
    padding: 10px;
    background-color: #28a745;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
     /* Adds space between input and button */
}

#taskList {
    list-style: none;
    padding: 0;
}



.completed {
    text-decoration: line-through;
    color: gray;
}

#scoreDisp {
    color: #000000;
    font-size: xx-small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#categoryInput {
    width: 10%;
    padding: 10px;
    margin: 10px;
    display: inline;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    border-color: #ccc;
    color: #000000;
 }


 #taskContainer {
    display: flex;
    justify-content: space-between;
}

.task-column {
    margin-top: 50px;
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

#personalTasks, #workTasks, #urgentTasks{

    padding: 0%;
    margin: 0%;
    margin-top: 50px

}

#personalTasks li, #workTasks li, #urgentTasks li {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Ensures space between text and 'X' */
    align-items: center; /* Vertically centers the content */
    color: #000;
    text-align: center;
}


.deleteBtn {
    width: 5.25%;
    height: auto;
    border-radius: 100%;
    color: #fff;
    background-color: rgb(190, 0, 0);
    border-color: rgba(0, 0, 0, 0.1);
}
